body {
     margin: 0; 
     padding: 0;
     font-family: Roboto, sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.top-banner-section {
     height: 700px; 
}
.half-width {
     width: 40%;
     margin-left: 90px;
     padding: 40px;
}
.half-width h1 { 
     font-size: 50px;
     font-weight: 700;
     width: 450px;
     color: #535353 ; 
}
#style-2 { 
     color: rgb(253, 84, 32);
}
.half-width img {
     width: 70%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right,rgb(243, 133, 118) ,rgb(253, 77, 23));
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
}
.half-width h5 {
    width: 400px;
    font-weight: 500;
    margin-bottom: 35px;
    line-height: 2;
}
.second-banner{
     background-image: url(images/bg1.png);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}
.half-width h2{
     font-size: 30px;
     font-weight: 600;
     color: #535353;
}
.half-width p{
     width: 300px;
     line-height: 1.5;
     color: #8d8c8c;
     margin-bottom: 60px;
}
.about-div{
     padding: 50px;
     margin-top: 150px;
}
.recipe-div{
     padding-top: 10px;
     padding-bottom: 10px;
}
.recipe-banner{
     display: inline-block;
     width: 25%;
     margin-left: 85px;
     box-shadow: 10px 10px 25px #a4bbb6;
     padding: 15px;
     border-radius: 20px;
}
.recipe-banner img{
     width: 100%;
     border-radius: 20px;
}
.recipe-banner p{
     color: rgb(82, 82, 82);
     line-height: 2;
}
.recipe-title{
     margin-top: 40px;
}
.recipe-banner-section{
     margin-top: 50px;
     margin-bottom: 50px;
}
.recipe-banner-section h1{
     text-align: center;
     color: rgb(85, 84, 84);
}
.recipe-banner-section h5{
     text-align: center;
     color: rgb(133, 132, 132);
}
.rank-banner{
     display: flex;
     text-align: center;
     box-shadow: #a4bbb6 0px 5px 15px;
     margin: 100px;
}
.rank-list{
     margin: auto;
}
.rank-list h1{
     font-size: 50px;
}
footer {
     text-align: center;
     background-color: #1d1b1b;
     color: white;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 footer h1{
      color: #a3a5a5;
 }
 footer p{
      font-weight: 100;
      color: #f0f0f0;
 }